.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 10px 10px 15px 10px;
  }
  img{
    width: 260px;
  }
  .imageCard {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
  }
  .image-details {
    padding: 10px 15px;
  }
  .imageCard img {
    display: block;
    border-top-left-radius: 8px;  
     border-top-right-radius: 8px;
  }

  @media screen and (max-width:1024px){
    .gallery{
      grid-template-columns: repeat(3, 1fr);
    }
  
  }

  @media screen and (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); 
    }
  }